@import '../variables';

.countdown {
  background: rgba(0, 0, 0, .3);
  display: flex;
  font-family: 'Lato';

  .comming-txt {
    color: $white;
    font-size: 13px;
    padding: 5px 10px;
    text-align: right;
    text-transform: uppercase;
    position: relative;
    width: 35%;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid rgba(0, 0, 0, 0.3);
      left: 100%;
      position: absolute;
      top: 4px;
    }
  }

  .comming-days {
    background: $alphaWhite;
    color: $darkGray;
    font-size: 36px;
    font-weight: 300;
    padding: 5px 15px;
    width: 65%;
  }

  .comming-txt-bold {
    font-weight: bold;
  }
}