// Colors
$white : #FFF;
$darknessGray : #333;
$darkGray : #464646;
$gray : #ebebeb;
$alphaWhite : rgba(255, 255, 255, 0.5);
$alphaDarkGray : rgba(70, 70, 70, .6);
$green : #1cbbb4;
$alphaGreen : rgba(28, 187, 180, .8);
$orange : #ffad1d;
$alphaOrange : rgba(255, 173, 29, .8);

// Sizes
$desktop: 1025px;