@import '../variables';

.thumb {
  align-items: center;
  background-color: $alphaGreen;
  box-sizing: border-box;
  display: flex;
  font-family: 'Lato';
  padding: 5px;
  
  .icon {
    appearance: none;
    background: url('../../icons/thumb.png');
    background-size: contain;
    border: none;
    height: 18px;
    transform: rotate(180deg);
    width: 18px;
  }

  .thumb-percentage {
    color: $white;
    font-weight: 300;
    font-size: 30px;
    margin: 0 0 0 10px;

    span {
      font-size: 21px;
    }
  }

  &.small {
    background-color: $alphaGreen;

    &.up {
      background-color: $alphaOrange;
    }
  }

  &.medium {
    padding: 10px;

    .icon {
      height: 28px;
      width: 28px;
    }
  }

  &.big {
    padding: 20px;

    .icon {
      height: 36px;
      width: 36px;
    }
  }

  &.up {
    background-color: $alphaOrange;
    flex-direction: row-reverse;

    .thumb-percentage {
      margin: 0 10px 0 0;
    }

    .icon {
      transform: rotateX(0);
    }
  }
}